In [1]:
import pandas as pd
import os

In [2]:
def read_all_csvs_in_folder(folder_path):
    
    # Get a list of all the csv files in the directory
    files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    # Initialize an empty dataframe
    df_list = []

    # Loop through all the files and read them into a dataframe
    for file in files:
        file_path = os.path.join(folder_path, file)
        df_list.append(pd.read_csv(file_path))
        
        # df = pd.concat([df, temp_df], ignore_index=True)

    return df_list

## Balance Sheet

In [3]:
folder_path = './balance_sheet'

balance_sheet_items = read_all_csvs_in_folder(folder_path)

In [4]:
len(balance_sheet_items)

15

In [27]:
balance_sheet_items[0]

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt,RIC
0,POOL.OQ,1998-12-31T00:00:00Z,5000000.0,POOL.OQ
1,POOL.OQ,1999-12-31T00:00:00Z,5000000.0,POOL.OQ
13,POOL.OQ,2000-12-31T00:00:00Z,6250000.0,POOL.OQ
25,POOL.OQ,2001-12-31T00:00:00Z,91000.0,POOL.OQ
37,POOL.OQ,2002-12-31T00:00:00Z,885000.0,POOL.OQ
...,...,...,...,...
139939,AVY.N,2018-12-29T00:00:00Z,194600000.0,AVY.N
139951,AVY.N,2019-12-28T00:00:00Z,440200000.0,AVY.N
139964,AVY.N,2021-01-02T00:00:00Z,64700000.0,AVY.N
139976,AVY.N,2022-01-01T00:00:00Z,318800000.0,AVY.N
139988,AVY.N,2022-12-31T00:00:00Z,598600000.0,AVY.N

In [30]:
# dropping duplicate rows for items where only yearly data is available
for i in range(len(balance_sheet_items)):
    balance_sheet_items[i].drop_duplicates(inplace=True)

In [34]:
# Initialise merged_df
merged_df = balance_sheet_items[0][['Instrument', 'Date', balance_sheet_items[0].columns[2]]]

# Merge the remaining balance sheet items onto the initialised merged_df
for i in range(1,len(balance_sheet_items)):
    # Merge the dataframes on the 'Date' column
    merged_df = merged_df.merge(
        balance_sheet_items[i][['Instrument', 'Date', balance_sheet_items[i].columns[2]]],
        on=['Date', 'Instrument'], how='outer')

merged_df

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt,Other Current Assets - Total,Intangible Assets - Total - Net,Loans & Receivables - Net - Short-Term,Trade Accounts Payable & Accruals - Short-Term,Other Non-Current Liabilities - Total,"Investment in Associate, Joint Venture & Unconsol Subsidiary",Deferred Tax & Investment Tax Credits - Long-Term,Other Non-Current Assets - Total,Property Plant & Equipment - Net - Total,Cash & Short Term Investments,Debt - Long-Term - Total,Income Taxes - Payable - Short-Term,Prepaid Expenses - Short-Term,Inventories - Total
0,POOL.OQ,1998-12-31T00:00:00Z,5000000.0,1600000.0,43940000.0,34609000.0,45498000.0,NaN,NaN,4030000.0,2243000.0,5435000.0,4911000.0,28696000.0,0.0,1673000.0,69377000.0
1,POOL.OQ,1999-12-31T00:00:00Z,5000000.0,121929000.0,49692000.0,40932000.0,63669000.0,NaN,NaN,5094000.0,5175000.0,6831000.0,3958000.0,22766000.0,NaN,757000.0,84252000.0
2,POOL.OQ,2000-12-31T00:00:00Z,6250000.0,3135000.0,59744000.0,53255000.0,83022000.0,NaN,NaN,4697000.0,4752000.0,9229000.0,3431000.0,34741000.0,NaN,1510000.0,116849000.0
3,POOL.OQ,2001-12-31T00:00:00Z,91000.0,2599000.0,79423000.0,60231000.0,113386000.0,0.0,NaN,5541000.0,10114000.0,8720000.0,3524000.0,85000000.0,NaN,2517000.0,181462000.0
4,POOL.OQ,2002-12-31T00:00:00Z,885000.0,1708000.0,115707000.0,70142000.0,118015000.0,3542000.0,NaN,12536000.0,12353000.0,10960000.0,5132000.0,125175000.0,NaN,2372000.0,183720000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12681,ICE.N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12682,AKAM.OQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12683,AON.N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12684,WBD.OQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12685,J.N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
merged_df.iloc[500:560]

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt,Other Current Assets - Total,Intangible Assets - Total - Net,Loans & Receivables - Net - Short-Term,Trade Accounts Payable & Accruals - Short-Term,Other Non-Current Liabilities - Total,"Investment in Associate, Joint Venture & Unconsol Subsidiary",Deferred Tax & Investment Tax Credits - Long-Term,Other Non-Current Assets - Total,Property Plant & Equipment - Net - Total,Cash & Short Term Investments,Debt - Long-Term - Total,Income Taxes - Payable - Short-Term,Prepaid Expenses - Short-Term,Inventories - Total
500,CARR.N,2006-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,CARR.N,2007-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,CARR.N,2008-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,CARR.N,2009-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,CARR.N,2010-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,CARR.N,2011-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,CARR.N,2012-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,CARR.N,2013-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,CARR.N,2014-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,CARR.N,2015-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,CARR.N,2016-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,CARR.N,2017-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,CARR.N,2018-12-31T00:00:00Z,NaN,378000000.0,1.106300e+10,3.239000e+09,4.018000e+09,1.722000e+09,1.770000e+09,1.280000e+09,7.440000e+08,1.653000e+09,1.129000e+09,NaN,NaN,NaN,1.363000e+09
513,CARR.N,2019-12-31T00:00:00Z,NaN,327000000.0,1.096700e+10,3.348000e+09,4.026000e+09,1.721000e+09,1.739000e+09,1.099000e+09,7.460000e+08,2.495000e+09,9.520000e+08,NaN,NaN,NaN,1.332000e+09
514,CARR.N,2020-12-31T00:00:00Z,1.910000e+08,343000000.0,1.117600e+10,3.437000e+09,3.733000e+09,2.248000e+09,1.513000e+09,4.790000e+08,7.350000e+08,2.598000e+09,3.115000e+09,1.003600e+10,234000000.0,NaN,1.629000e+09
515,CARR.N,2021-12-31T00:00:00Z,1.830000e+08,376000000.0,9.858000e+09,2.906000e+09,4.895000e+09,2.057000e+09,1.593000e+09,3.540000e+08,2.150000e+08,2.466000e+09,2.987000e+09,9.513000e+09,NaN,NaN,1.970000e+09
516,CARR.N,2022-12-31T00:00:00Z,1.400000e+08,349000000.0,1.131900e+10,3.370000e+09,5.443000e+09,2.179000e+09,1.148000e+09,5.680000e+08,2.390000e+08,2.883000e+09,3.520000e+09,8.702000e+09,NaN,NaN,2.640000e+09
517,EVRG.OQ,1998-12-31T00:00:00Z,4.783100e+08,NaN,1.188253e+09,2.182430e+08,3.802010e+08,5.261960e+08,NaN,9.386590e+08,5.425129e+09,4.742300e+07,3.044710e+08,3.283064e+09,32942000.0,57225000.0,9.559000e+07
518,EVRG.OQ,1999-12-31T00:00:00Z,8.170880e+08,32332000.0,1.057041e+09,2.292000e+08,3.596200e+08,4.775740e+08,NaN,9.761350e+08,5.676768e+09,6.300600e+07,1.881680e+08,3.103066e+09,40328000.0,40876000.0,1.123920e+08
519,EVRG.OQ,2000-12-31T00:00:00Z,7.682500e+07,230791000.0,9.761020e+08,1.521650e+08,3.616130e+08,4.591350e+08,NaN,9.545950e+08,5.638561e+09,5.981400e+07,8.762000e+06,3.457849e+09,53834000.0,43049000.0,1.013030e+08
520,EVRG.OQ,2001-12-31T00:00:00Z,3.901950e+08,110200000.0,8.799260e+08,9.682400e+07,3.389850e+08,4.775190e+08,NaN,1.020993e+09,5.470039e+09,6.053600e+07,9.638800e+07,3.219188e+09,35048000.0,55557000.0,1.450000e+08
521,EVRG.OQ,2002-12-31T00:00:00Z,2.912940e+08,200566000.0,NaN,4.920200e+07,2.146800e+08,4.805900e+08,NaN,1.096677e+09,4.571876e+09,2.880000e+05,1.130490e+08,2.935262e+09,51124000.0,38336000.0,1.435380e+08
522,EVRG.OQ,2003-12-31T00:00:00Z,1.869410e+08,187313000.0,NaN,8.693200e+07,9.299400e+07,6.739890e+08,NaN,9.695440e+08,4.651120e+09,1.490000e+05,7.955900e+07,2.051346e+09,108249000.0,32430000.0,1.349310e+08
523,EVRG.OQ,2004-12-31T00:00:00Z,6.500000e+07,63128000.0,NaN,1.833770e+08,1.055930e+08,6.119250e+08,NaN,9.177060e+08,4.576207e+09,7.900000e+04,2.461100e+07,1.639901e+09,97874000.0,29179000.0,1.245630e+08
524,EVRG.OQ,2005-12-31T00:00:00Z,1.000000e+08,178535000.0,NaN,1.262760e+08,2.682250e+08,7.484380e+08,NaN,9.111350e+08,4.734415e+09,3.400000e+04,3.853900e+07,1.562990e+09,100568000.0,30452000.0,1.018180e+08
525,EVRG.OQ,2006-12-31T00:00:00Z,1.600000e+08,145973000.0,NaN,1.950010e+08,1.504240e+08,7.492120e+08,NaN,9.063110e+08,4.918421e+09,3.400000e+04,1.819600e+07,1.575581e+09,102219000.0,29620000.0,1.479300e+08
526,EVRG.OQ,2007-12-31T00:00:00Z,1.805580e+08,170921000.0,NaN,2.668960e+08,5.622230e+08,8.912590e+08,NaN,8.972930e+08,5.727717e+09,3.400000e+04,5.753000e+06,2.013635e+09,47370000.0,31576000.0,1.925330e+08
527,EVRG.OQ,2008-12-31T00:00:00Z,3.212660e+08,246923000.0,NaN,2.355780e+08,7.218600e+08,1.047903e+09,NaN,1.004920e+09,6.700094e+09,3.400000e+04,2.291400e+07,2.310447e+09,44008000.0,33419000.0,2.042970e+08
528,EVRG.OQ,2009-12-31T00:00:00Z,2.530400e+08,158575000.0,NaN,2.613860e+08,5.457720e+08,1.011725e+09,NaN,9.644610e+08,6.896001e+09,0.000000e+00,3.860000e+06,2.600034e+09,46931000.0,11830000.0,1.938310e+08
529,EVRG.OQ,2010-12-31T00:00:00Z,2.569160e+08,137022000.0,NaN,2.443790e+08,1.879540e+08,1.014761e+09,NaN,1.102625e+09,2.327634e+09,6.309476e+09,9.280000e+05,2.769033e+09,45534000.0,12413000.0,2.068670e+08
530,EVRG.OQ,2011-12-31T00:00:00Z,3.144140e+08,156088000.0,NaN,2.317620e+08,2.278910e+08,1.203968e+09,NaN,1.110463e+09,1.303850e+09,6.745416e+09,3.539000e+06,2.740392e+09,52451000.0,13078000.0,2.291180e+08
531,EVRG.OQ,2012-12-31T00:00:00Z,3.651420e+08,147944000.0,NaN,2.244390e+08,2.225680e+08,1.268984e+09,NaN,1.197837e+09,1.286416e+09,7.335740e+09,5.829000e+06,3.042014e+09,58624000.0,15847000.0,2.490160e+08
532,EVRG.OQ,2013-12-31T00:00:00Z,4.120790e+08,196943000.0,NaN,2.500360e+08,2.769550e+08,1.048003e+09,NaN,1.361418e+09,1.041771e+09,7.848542e+09,4.487000e+06,3.163760e+09,69742000.0,15821000.0,2.395110e+08
533,EVRG.OQ,2014-12-31T00:00:00Z,2.855330e+08,134321000.0,NaN,2.673270e+08,2.643220e+08,1.338472e+09,NaN,1.445851e+09,1.178022e+09,8.441481e+09,4.556000e+06,3.353645e+09,74356000.0,15793000.0,2.474060e+08
534,EVRG.OQ,2015-12-31T00:00:00Z,2.786090e+08,137466000.0,NaN,2.582860e+08,2.707980e+08,1.303291e+09,NaN,1.591430e+09,1.195384e+09,8.793141e+09,3.231000e+06,3.302047e+09,83773000.0,16864000.0,3.012940e+08
535,EVRG.OQ,2016-12-31T00:00:00Z,5.185420e+08,147084000.0,NaN,3.015790e+08,2.734070e+08,1.354036e+09,NaN,1.752776e+09,1.212429e+09,9.506263e+09,3.066000e+06,3.499879e+09,85729000.0,16528000.0,3.001250e+08
536,EVRG.OQ,2017-12-31T00:00:00Z,3.042340e+08,122979000.0,NaN,2.906520e+08,2.580160e+08,2.355483e+09,NaN,8.157430e+08,1.167284e+09,9.730034e+09,3.432000e+06,3.768988e+09,87727000.0,16425000.0,2.935620e+08
537,EVRG.OQ,2018-12-31T00:00:00Z,1.845700e+09,303900000.0,2.338900e+09,6.267000e+08,4.515000e+08,4.408500e+09,NaN,1.599200e+09,2.626500e+09,1.895170e+10,1.603000e+08,6.732500e+09,133600000.0,79100000.0,5.110000e+08
538,EVRG.OQ,2019-12-31T00:00:00Z,1.189200e+09,231700000.0,2.336600e+09,6.530000e+08,5.288000e+08,4.454500e+09,NaN,1.744400e+09,2.720700e+09,1.945090e+10,2.320000e+07,8.813400e+09,145100000.0,78200000.0,4.816000e+08
539,EVRG.OQ,2020-12-31T00:00:00Z,1.136200e+09,206200000.0,2.336600e+09,6.968000e+08,7.095000e+08,5.072800e+09,NaN,1.664800e+09,2.954800e+09,2.019910e+10,1.449000e+08,9.230200e+09,143800000.0,71900000.0,5.045000e+08
540,EVRG.OQ,2021-12-31T00:00:00Z,1.873000e+09,499500000.0,2.336600e+09,5.686000e+08,6.913000e+08,4.908300e+09,NaN,1.861900e+09,3.232500e+09,2.124110e+10,2.620000e+07,9.338800e+09,150400000.0,49300000.0,5.667000e+08
541,EVRG.OQ,2022-12-31T00:00:00Z,2.136100e+09,412500000.0,2.336600e+09,6.836000e+08,6.819000e+08,4.499700e+09,NaN,1.996600e+09,2.956700e+09,2.235460e+10,2.520000e+07,9.946500e+09,163000000.0,47800000.0,6.729000e+08
542,COST.OQ,1999-08-29T00:00:00Z,2.366200e+07,239516000.0,NaN,1.686480e+08,2.449840e+09,NaN,NaN,6.699000e+07,2.822000e+08,3.906888e+09,6.972740e+08,9.070570e+08,NaN,NaN,2.210475e+09
543,COST.OQ,2000-09-03T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,COST.OQ,2001-09-02T00:00:00Z,2.279060e+08,211601000.0,NaN,3.247680e+08,3.363976e+09,NaN,NaN,1.194340e+08,3.807440e+08,5.826585e+09,6.075840e+08,8.427160e+08,NaN,NaN,2.738504e+09
545,COST.OQ,2002-09-01T00:00:00Z,1.189420e+08,222939000.0,NaN,4.748610e+08,3.637469e+09,-7.165000e+06,NaN,1.459250e+08,4.661050e+08,6.523619e+09,8.055180e+08,1.210219e+09,NaN,NaN,3.127221e+09
546,COST.OQ,2003-08-31T00:00:00Z,6.152300e+07,270581000.0,NaN,5.560900e+08,4.072973e+09,-5.689000e+06,NaN,2.098350e+08,5.201420e+08,6.960008e+09,1.545439e+09,1.295338e+09,NaN,NaN,3.339428e+09
547,COST.OQ,2004-08-29T00:00:00Z,6.327830e+08,160457000.0,NaN,3.351750e+08,4.727418e+09,-3.998000e+06,NaN,2.441760e+08,6.036200e+08,7.219829e+09,3.129882e+09,9.977440e+08,NaN,NaN,3.643585e+09
548,COST.OQ,2005-08-28T00:00:00Z,6.080600e+07,234295000.0,NaN,5.291500e+08,5.513756e+09,-3.366000e+06,NaN,2.542700e+08,6.370120e+08,7.790192e+09,3.459857e+09,7.140410e+08,NaN,NaN,4.014699e+09
549,COST.OQ,2006-09-03T00:00:00Z,6.584310e+08,272357000.0,NaN,5.653730e+08,5.986051e+09,-1.277600e+07,NaN,2.537130e+08,6.986930e+08,8.564295e+09,2.833120e+09,2.281450e+08,NaN,NaN,4.561232e+09
550,COST.OQ,2007-09-02T00:00:00Z,1.736420e+08,327151000.0,7.570700e+07,7.620170e+08,6.619576e+09,-7.816000e+06,3.025500e+08,2.241970e+08,3.383710e+08,9.519780e+09,3.355520e+09,2.115794e+09,NaN,NaN,4.879465e+09
551,COST.OQ,2008-08-31T00:00:00Z,1.464150e+08,399651000.0,7.370700e+07,7.479680e+08,6.828516e+09,-1.263300e+07,3.644440e+08,3.283130e+08,3.002600e+08,1.035500e+10,3.275013e+09,2.218585e+09,NaN,NaN,5.039413e+09
552,COST.OQ,2009-08-30T00:00:00Z,9.600000e+07,371000000.0,7.100000e+07,8.340000e+08,7.170000e+09,-1.530000e+08,3.190000e+08,4.640000e+08,2.930000e+08,1.090000e+10,3.727000e+09,2.283000e+09,NaN,NaN,5.405000e+09
553,COST.OQ,2010-08-29T00:00:00Z,2.600000e+07,437000000.0,7.100000e+07,8.840000e+08,7.840000e+09,NaN,3.570000e+08,6.810000e+08,3.650000e+08,1.131400e+10,4.749000e+09,2.141000e+09,NaN,NaN,5.638000e+09
554,COST.OQ,2011-08-28T00:00:00Z,1.800000e+09,490000000.0,NaN,9.650000e+08,9.239000e+09,NaN,NaN,8.850000e+08,NaN,1.305500e+10,5.613000e+09,1.253000e+09,NaN,NaN,6.638000e+09
555,COST.OQ,2012-09-02T00:00:00Z,NaN,550000000.0,NaN,1.026000e+09,1.019300e+10,NaN,NaN,9.810000e+08,6.530000e+08,1.296100e+10,4.854000e+09,1.381000e+09,NaN,NaN,7.096000e+09
556,COST.OQ,2013-09-01T00:00:00Z,4.000000e+06,621000000.0,NaN,1.201000e+09,1.100100e+10,NaN,NaN,8.240000e+08,5.620000e+08,1.388100e+10,6.124000e+09,5.190000e+09,NaN,NaN,7.894000e+09
557,COST.OQ,2014-08-31T00:00:00Z,7.000000e+06,669000000.0,NaN,1.148000e+09,1.193700e+10,NaN,NaN,1.004000e+09,6.060000e+08,1.483000e+10,7.315000e+09,5.093000e+09,NaN,NaN,8.456000e+09
558,COST.OQ,2015-08-30T00:00:00Z,1.293000e+09,228000000.0,NaN,1.224000e+09,1.278200e+10,4.970000e+08,NaN,NaN,8.370000e+08,1.540100e+10,6.419000e+09,5.138000e+09,NaN,NaN,8.908000e+09
559,COST.OQ,2016-08-28T00:00:00Z,1.110000e+09,268000000.0,NaN,1.252000e+09,1.164200e+10,8.310000e+08,NaN,NaN,9.020000e+08,1.704300e+10,4.729000e+09,4.425000e+09,NaN,NaN,8.969000e+09

In [36]:
merged_df.dropna()

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt,Other Current Assets - Total,Intangible Assets - Total - Net,Loans & Receivables - Net - Short-Term,Trade Accounts Payable & Accruals - Short-Term,Other Non-Current Liabilities - Total,"Investment in Associate, Joint Venture & Unconsol Subsidiary",Deferred Tax & Investment Tax Credits - Long-Term,Other Non-Current Assets - Total,Property Plant & Equipment - Net - Total,Cash & Short Term Investments,Debt - Long-Term - Total,Income Taxes - Payable - Short-Term,Prepaid Expenses - Short-Term,Inventories - Total
16,POOL.OQ,2014-12-31T00:00:00Z,1.529000e+06,3.241000e+06,1.859190e+08,1.406450e+08,2.702490e+08,1.075100e+07,1.244000e+06,2.350400e+07,1.208600e+07,5.647500e+07,1.483000e+07,3.193090e+08,7425000.0,11535000.0,4.669620e+08
18,POOL.OQ,2016-12-31T00:00:00Z,1.105000e+06,6.016000e+06,1.981210e+08,1.661510e+08,2.718320e+08,1.896600e+07,1.172000e+06,3.447500e+07,1.595500e+07,8.329000e+07,2.195600e+07,4.369370e+08,8424000.0,15318000.0,4.861160e+08
19,POOL.OQ,2017-12-31T00:00:00Z,1.083500e+07,0.000000e+00,2.026580e+08,1.962650e+08,2.870430e+08,2.295000e+07,1.127000e+06,2.458500e+07,1.409000e+07,1.009390e+08,2.994000e+07,5.088150e+08,7970000.0,19569000.0,5.364740e+08
20,POOL.OQ,2018-12-31T00:00:00Z,9.168000e+06,3.392000e+06,2.004760e+08,2.078010e+08,2.755710e+08,2.467900e+07,1.213000e+06,2.939900e+07,1.697400e+07,1.069640e+08,1.635800e+07,6.575930e+08,8337000.0,15114000.0,6.725790e+08
21,POOL.OQ,2019-12-31T00:00:00Z,1.174500e+07,1.604000e+06,1.996340e+08,2.265390e+08,2.985580e+08,2.797000e+07,1.227000e+06,3.259800e+07,1.990200e+07,2.889350e+08,2.858300e+07,4.996620e+08,9814000.0,14568000.0,7.022740e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11921,SO.N,2016-12-31T00:00:00Z,4.828000e+09,8.110000e+08,7.221000e+09,3.790000e+09,4.896000e+09,1.014600e+10,1.549000e+09,1.653900e+10,1.257300e+10,7.844600e+10,1.975000e+09,4.262900e+10,193000000.0,364000000.0,2.782000e+09
11922,SO.N,2017-12-31T00:00:00Z,6.331000e+09,8.150000e+08,7.141000e+09,4.048000e+09,4.653000e+09,1.034300e+10,1.513000e+09,1.636500e+10,1.240700e+10,7.987200e+10,2.130000e+09,4.446200e+10,6000000.0,452000000.0,2.627000e+09
11925,SO.N,2020-12-31T00:00:00Z,4.116000e+09,1.246000e+09,5.767000e+09,3.335000e+09,4.530000e+09,1.525400e+10,1.362000e+09,1.617700e+10,1.775300e+10,8.943600e+10,1.065000e+09,4.507300e+10,130000000.0,276000000.0,2.488000e+09
11926,SO.N,2021-12-31T00:00:00Z,3.597000e+09,1.103000e+09,5.725000e+09,2.962000e+09,3.880000e+09,1.594400e+10,1.282000e+09,1.647900e+10,1.875300e+10,9.280900e+10,1.798000e+09,5.012000e+10,50000000.0,330000000.0,2.621000e+09
11927,SO.N,2022-12-31T00:00:00Z,6.894000e+09,1.536000e+09,5.567000e+09,3.716000e+09,5.416000e+09,1.518700e+10,1.443000e+09,1.740400e+10,2.136400e+10,9.610100e+10,1.917000e+09,5.065600e+10,60000000.0,347000000.0,2.785000e+09

In [20]:
balance_sheet_items[0][['Instrument', 'Date', balance_sheet_items[0].columns[2]]]

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt
0,POOL.OQ,1998-12-31T00:00:00Z,5000000.0
1,POOL.OQ,1999-12-31T00:00:00Z,5000000.0
2,POOL.OQ,1999-12-31T00:00:00Z,5000000.0
3,POOL.OQ,1999-12-31T00:00:00Z,5000000.0
4,POOL.OQ,1999-12-31T00:00:00Z,5000000.0
...,...,...,...
139986,AVY.N,2022-01-01T00:00:00Z,318800000.0
139987,AVY.N,2022-01-01T00:00:00Z,318800000.0
139988,AVY.N,2022-12-31T00:00:00Z,598600000.0
139989,AVY.N,2022-12-31T00:00:00Z,598600000.0
139990,AVY.N,2022-12-31T00:00:00Z,598600000.0

## Income Statement

In [37]:
folder_path = './income_statement'

income_statement_items = read_all_csvs_in_folder(folder_path)

In [38]:
len(income_statement_items)

9

In [41]:
income_statement_items[0]

,Instrument,Date,Operating Profit before Non-Recurring Income/Expense,RIC
0,POOL.OQ,1998-12-31T00:00:00Z,2.648700e+07,POOL.OQ
1,POOL.OQ,1999-12-31T00:00:00Z,4.084500e+07,POOL.OQ
2,POOL.OQ,1999-12-31T00:00:00Z,4.084500e+07,POOL.OQ
3,POOL.OQ,1999-12-31T00:00:00Z,4.084500e+07,POOL.OQ
4,POOL.OQ,1999-12-31T00:00:00Z,4.084500e+07,POOL.OQ
...,...,...,...,...
140823,AVY.N,2022-01-01T00:00:00Z,1.064300e+09,AVY.N
140824,AVY.N,2022-01-01T00:00:00Z,1.064300e+09,AVY.N
140825,AVY.N,2022-12-31T00:00:00Z,1.073400e+09,AVY.N
140826,AVY.N,2022-12-31T00:00:00Z,1.073400e+09,AVY.N
140827,AVY.N,2022-12-31T00:00:00Z,1.073400e+09,AVY.N

In [62]:
# dropping duplicate rows for items where only yearly data is available
for i in range(len(income_statement_items)):
    income_statement_items[i].drop_duplicates(inplace=True)

# Correct error in data read
# income_statement_items[5].drop(columns='Unnamed: 0', inplace=True)

In [63]:
# Initialise merged_income_df
merged_income_df = income_statement_items[0].drop(columns='RIC')

# Merge the remaining balance sheet items onto the initialised merged_income_df
for i in range(1,len(income_statement_items)):
    # Merge the dataframes on the 'Date' column
    merged_income_df = merged_income_df.merge(
        income_statement_items[i].drop(columns='RIC'),
        on=['Date', 'Instrument'], how='outer')

merged_income_df

,Instrument,Date,Operating Profit before Non-Recurring Income/Expense,Income Available to Common Shares,R&D Expense - Actual,Unnamed: 0,Turnover,Other Non-Operating Income/(Expense) - Total,Gross Profit - Industrials/Property - Total,Non-Recurring Income/(Expense) - Total,Income Taxes,Financing Income/(Expense) - Net - Total
0,POOL.OQ,1998-12-31T00:00:00Z,26487000.0,13738000.0,NaN,NaN,NaN,-124000.0,102539000.0,-1102000.0,8043000.0,-3480000.0
1,POOL.OQ,1999-12-31T00:00:00Z,40845000.0,21078000.0,NaN,NaN,NaN,-1762000.0,136009000.0,-1502000.0,12906000.0,-3053000.0
2,POOL.OQ,2000-12-31T00:00:00Z,50461000.0,28076000.0,NaN,NaN,NaN,NaN,164380000.0,-1647000.0,17146000.0,-3592000.0
3,POOL.OQ,2001-12-31T00:00:00Z,66047000.0,35444000.0,NaN,NaN,NaN,NaN,220874000.0,-2179000.0,23141000.0,-5283000.0
4,POOL.OQ,2002-12-31T00:00:00Z,72687000.0,14896000.0,NaN,NaN,NaN,NaN,255532000.0,0.0,52814000.0,-4977000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
63323,AVY.N,2022-12-30T00:00:00Z,NaN,NaN,NaN,51284.0,17098987.0,NaN,NaN,NaN,NaN,NaN
63324,AVY.N,2023-01-31T00:00:00Z,NaN,NaN,NaN,51285.0,25600608.0,NaN,NaN,NaN,NaN,NaN
63325,AVY.N,2023-02-28T00:00:00Z,NaN,NaN,NaN,51286.0,85658164.0,NaN,NaN,NaN,NaN,NaN
63326,AVY.N,2023-03-31T00:00:00Z,NaN,NaN,NaN,51287.0,25949669.0,NaN,NaN,NaN,NaN,NaN
63327,AVY.N,2023-04-28T00:00:00Z,NaN,NaN,NaN,51288.0,46789247.0,NaN,NaN,NaN,NaN,NaN

## Cashflow Statement

In [65]:
folder_path = './cashflow'

cashflow_items = read_all_csvs_in_folder(folder_path)

In [66]:
len(cashflow_items)

3

In [67]:
cashflow_items[0]

,Instrument,Date,Net Cash Flow from Financing Activities,RIC
0,POOL.OQ,1998-12-31T00:00:00Z,-6025000.0,POOL.OQ
1,POOL.OQ,1999-12-31T00:00:00Z,-9406000.0,POOL.OQ
2,POOL.OQ,1999-12-31T00:00:00Z,-9406000.0,POOL.OQ
3,POOL.OQ,1999-12-31T00:00:00Z,-9406000.0,POOL.OQ
4,POOL.OQ,1999-12-31T00:00:00Z,-9406000.0,POOL.OQ
...,...,...,...,...
140823,AVY.N,2022-01-01T00:00:00Z,604300000.0,AVY.N
140824,AVY.N,2022-01-01T00:00:00Z,604300000.0,AVY.N
140825,AVY.N,2022-12-31T00:00:00Z,-615200000.0,AVY.N
140826,AVY.N,2022-12-31T00:00:00Z,-615200000.0,AVY.N
140827,AVY.N,2022-12-31T00:00:00Z,-615200000.0,AVY.N

In [68]:
# dropping duplicate rows for items where only yearly data is available
for i in range(len(cashflow_items)):
    cashflow_items[i].drop_duplicates(inplace=True)

In [69]:
# Initialise merged_income_df
merged_cashflow_df = cashflow_items[0].drop(columns='RIC')

# Merge the remaining balance sheet items onto the initialised merged_income_df
for i in range(1,len(cashflow_items)):
    # Merge the dataframes on the 'Date' column
    merged_cashflow_df = merged_cashflow_df.merge(
        cashflow_items[i].drop(columns='RIC'),
        on=['Date', 'Instrument'], how='outer')

merged_cashflow_df

,Instrument,Date,Net Cash Flow from Financing Activities,Net Cash Flow from Investing Activities,Net Cash Flow from Operating Activities
0,POOL.OQ,1998-12-31T00:00:00Z,-6025000.0,-3.078300e+07,1.940000e+07
1,POOL.OQ,1999-12-31T00:00:00Z,-9406000.0,-2.887600e+07,3.732900e+07
2,POOL.OQ,2000-12-31T00:00:00Z,10647000.0,-2.914100e+07,1.830300e+07
3,POOL.OQ,2001-12-31T00:00:00Z,30267000.0,-5.695700e+07,2.675300e+07
4,POOL.OQ,2002-12-31T00:00:00Z,-5222000.0,-5.176600e+07,5.816200e+07
...,...,...,...,...,...
12314,AVY.N,2018-12-29T00:00:00Z,-208100000.0,-2.325000e+08,4.579000e+08
12315,AVY.N,2019-12-28T00:00:00Z,-470300000.0,-2.510000e+08,7.465000e+08
12316,AVY.N,2021-01-02T00:00:00Z,-207700000.0,-5.542000e+08,7.513000e+08
12317,AVY.N,2022-01-01T00:00:00Z,604300000.0,-1.737900e+09,1.046800e+09
12318,AVY.N,2022-12-31T00:00:00Z,-615200000.0,-3.327000e+08,9.610000e+08

## Merge all financial statements

In [72]:

merged_financial_statements = merged_df.merge(
        merged_income_df,
        on=['Date', 'Instrument'], how='outer')

merged_financial_statements = merged_financial_statements.merge(
        merged_cashflow_df,
        on=['Date', 'Instrument'], how='outer')

merged_financial_statements

,Instrument,Date,Short-Term Debt & Current Portion of Long-Term Debt,Other Current Assets - Total,Intangible Assets - Total - Net,Loans & Receivables - Net - Short-Term,Trade Accounts Payable & Accruals - Short-Term,Other Non-Current Liabilities - Total,"Investment in Associate, Joint Venture & Unconsol Subsidiary",Deferred Tax & Investment Tax Credits - Long-Term,...,Unnamed: 0,Turnover,Other Non-Operating Income/(Expense) - Total,Gross Profit - Industrials/Property - Total,Non-Recurring Income/(Expense) - Total,Income Taxes,Financing Income/(Expense) - Net - Total,Net Cash Flow from Financing Activities,Net Cash Flow from Investing Activities,Net Cash Flow from Operating Activities
0,POOL.OQ,1998-12-31T00:00:00Z,5000000.0,1600000.0,43940000.0,34609000.0,45498000.0,NaN,NaN,4030000.0,...,NaN,NaN,-124000.0,102539000.0,-1102000.0,8043000.0,-3480000.0,-6025000.0,-30783000.0,19400000.0
1,POOL.OQ,1999-12-31T00:00:00Z,5000000.0,121929000.0,49692000.0,40932000.0,63669000.0,NaN,NaN,5094000.0,...,NaN,NaN,-1762000.0,136009000.0,-1502000.0,12906000.0,-3053000.0,-9406000.0,-28876000.0,37329000.0
2,POOL.OQ,2000-12-31T00:00:00Z,6250000.0,3135000.0,59744000.0,53255000.0,83022000.0,NaN,NaN,4697000.0,...,NaN,NaN,NaN,164380000.0,-1647000.0,17146000.0,-3592000.0,10647000.0,-29141000.0,18303000.0
3,POOL.OQ,2001-12-31T00:00:00Z,91000.0,2599000.0,79423000.0,60231000.0,113386000.0,0.0,NaN,5541000.0,...,NaN,NaN,NaN,220874000.0,-2179000.0,23141000.0,-5283000.0,30267000.0,-56957000.0,26753000.0
4,POOL.OQ,2002-12-31T00:00:00Z,885000.0,1708000.0,115707000.0,70142000.0,118015000.0,3542000.0,NaN,12536000.0,...,NaN,NaN,NaN,255532000.0,0.0,52814000.0,-4977000.0,-5222000.0,-51766000.0,58162000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63323,AVY.N,2022-12-30T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51284.0,17098987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63324,AVY.N,2023-01-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51285.0,25600608.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63325,AVY.N,2023-02-28T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51286.0,85658164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63326,AVY.N,2023-03-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51287.0,25949669.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63327,AVY.N,2023-04-28T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51288.0,46789247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
merged_financial_statements.to_csv('merged_fin_statements_data.csv')